
/* *{
  border: 1px solid green;
} */
body{
 
  background-image: url(../images/background_photo.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
}
.App{
  
 height: 100vh;
margin: 0;
width: 100%;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.question__container{
  width: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question{
  width: 60%;
  height: auto;
  
}
.individualOption{
  display: flex;
  border: 1px solid gray;
cursor: pointer;

}
.rightAnswers{
  display: flex;
  border: 1px solid black;
}
.selected{
  background-color: greenyellow;
}
.enable{
pointer-events: all;
background-color:greenyellow;
cursor: pointer;
}
.disable{
  pointer-events: none;
  background-color: gray;
}
.restart_btn{
  background-color:greenyellow;
  cursor: pointer;
  position : relative;
  left: 90px;
  top: 8px;
}
.next_btn{
  position : relative;
  top: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .question h1{
    font-size: 1.5em;
  }
}